.chatHolder {
    margin: 40px auto;
    padding:15px;
    width: 50%;
    height: 50vh;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    border-top:1px solid rgba(255,255,255,0.5) ;
    border-left:1px solid rgba(255,255,255,0.5) ;
    backdrop-filter: blur(10px);
}

.chatHolder2 {
    width: 100vw
}


@media (max-width:768px){
    .chatHolder {width: 70%;}
}