.KnowMore {
    position: absolute;
    top : 370px;
    left:30px;
    /* transform: translateX(-300px); */
    opacity: 1;
    transition: 0.5s;
    text-align: center;
}

.KnowMoreActive {
    /* transform: translateX(0); */
    left: 40%;
    opacity: 1;
    top: 60px;
    transition: 0.5s;
    position: fixed;
}

.KnowMore2 {
    position: relative;
    top : -250px;
    left:200px;
    height: 80vh;
    opacity: 1;
    transition: 0.5s;
    background: transparent;
    width: 70vw;
    color: var(--color-white);
    font-size: 32px;

}

  
  .fade {
    position: relative;
    width: 100%;
    min-height: 30vh;
    top: 55px;
    background-image: linear-gradient(0deg, transparent,  75%);
    z-index: 1;
  }
  
  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
