/* ------------------- */
/*      Polices        */
/* ------------------- */
@import url("https://p.typekit.net/p.css?s=1&k=aep8ehj&ht=tk&f=262.1128&a=8149494&app=typekit&e=css");

@font-face {
font-family:"restore";
src:url("https://use.typekit.net/af/b42475/000000000000000077359632/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b42475/000000000000000077359632/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b42475/000000000000000077359632/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"restore";
src:url("https://use.typekit.net/af/76248a/000000000000000077359631/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/76248a/000000000000000077359631/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/76248a/000000000000000077359631/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');


/* ------------------- */
/*      Variables      */
/* ------------------- */

:root{
  --title-font : "restore",sans-serif;
  --main-font : 'PT Sans', sans-serif;
  --color-first : #360d41;
  --color-second: #f56eac;
  --color-third: #5d33cc;
  --color-white: #fff;
  --gradient-bg-dark : linear-gradient(161deg, rgba(54,13,65,1) 44%, rgba(154,57,115,1) 100%);
  --gradient-bg-light :linear-gradient(155deg, rgba(93,51,204,1) 0%, rgba(245,110,172,1) 100%);
}


/* ------------------- */
/* Reset         */
/* ------------------- */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

body{
  line-height:1.5;
  font-family: var(--main-font)
}

h1{
  font-family: var(--title-font);
  color : var(--color-white);
  font-size: 2em;
}


